.cart_table{
    border: 10px !important;
    border-color: black !important;
    color: black;
    font-size: 16px;
}

.table_header {
    background-color: rgba(0, 0, 0, 0.1)
}

.cart_table > thead > tr {
    border-right:1px !important;
    /* border-width: 0 !important */
}

.cart_table_parent {
    margin: auto !important;
    width: 80%;
}

.div_btn_pay {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* text-align: center; */
}




/* .body_card{
    background-image: none !important;
} */