/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 8, 2023, 4:32:40 PM
    Author     : Administrator
*/

div.res-manager{
    margin: 0 auto;
    width: 60%;
    display: flex;
}
.heading>h1{
    text-align: center;
    margin: 20px auto;
    color:black;
}
div.res-manager>div.res-item{
    width: 44%;
    height: 350px;
    border-width: 2px;
    border-style: outset;
    /*padding: 15px;*/
    /*border-image: url(../images/borders.png) 10% stretch;*/
    /*border-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/638/518/small/luxury-wedding-geometric-gold-frame-border-free-png.png) 15% stretch;*/
    margin: 10px auto;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
div.res-item a{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    padding: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    &:hover{
        background: transparent;
        /*box-shadow: 0 10px 20px rgba(0,0,0,0.3);*/
    }
  
}
div.res-item a:focus{
    box-shadow: none;
    background:none;
}
div.res-item a>h3{
    color: black;
    position:relative;
    height:auto;
    font-size:1.1em;
    padding:3.5em 0;
    /*margin: 10px 0;*/
    margin-bottom: 0;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
    height: 100%;
    
}
h3:after,h3:before{
    content:'';
    position:absolute;
    top:20%;
    right:0;
    height:3px;
    width:0;
    /*background:#bc9240;*/
    background-color: white;
    transition:400ms ease all;
}
h3:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:20%;
}
h3:hover{
background-color: rgba(30, 27, 75,0.5);
color: #FFFFFF !important;

}
h3:hover:before,h3:hover:after{
    width:100%;
    transition:800ms ease all;
}