/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 5, 2023, 1:42:18 PM
    Author     : Administrator
*/
 .toast.show {
    position: fixed;
    z-index: 9999;
    top: 10%;
    left: 40%;
    width: 400px;
    /*background-color: rgba(255,255,255,1);*/
      background-color: rgb(241, 174, 181);

    box-shadow: 0 19px 38px rgba(241, 174, 181,0.70);
 }
  .toast-header{
  background-color: rgb(241, 174, 181);}
 .toast-header>h1{
     /*text-align: center;*/
     /*margin: 0 auto;*/
     font-size: 20px;
     color: rgb(88, 21, 28);
 }
 .toast-header .btn-close{
     margin-left: auto;
 }
 /*trang newFoodItems*/
 .update-food{
     width: 80%;
     margin: 3% auto;
     padding: 15px 20px;
     border-radius: 15px;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19);
 }
